<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Event Booking Page - Welcome and Choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
    <th:block sec:authorize="hasRole('ADMIN')">

        <h2>
            You are longed in!
        </h2>
    </th:block>
    <th:block sec:authorize="!hasRole('ADMIN')">

        <h2>
            You are NOT longed in!
        </h2>
    </th:block>
</header>
<main>
    <h2>Search for an event:</h2>
    <form action="" method="get">
        <input type="text" name="searchText"
               placeholder="Search for an event..."
               th:value="${param.searchText != null ? param.searchText : ''}">
        <input type="number" name="minScore"
               placeholder="Min Score (default 0)"
               min="0"
               step="0.1"
               th:value="${param.minScore != null ? param.minScore : 0}">
        <input type="submit" value="Search">
    </form>

    <a href="/events/add">
        Add new Event.
    </a>

    <a href="/events/book">
        Book Event.
    </a>

    <h2>Available events:</h2>
    <div th:each="event : ${events}">
        Name: <span th:text="${event.name}"></span>,
        Rating: <span th:text="${#numbers.formatDecimal(event.popularityScore, 0, 2)}"></span>,
        <br>
        Location: <span th:text="${event.location.name}"></span>
        <br>
        Description: <span th:text="${event.description}"></span>,
        <br>

        <th:block sec:authorize="hasRole('ADMIN')">

            <form th:method="POST" style="display: inline-block"
                  th:action="@{'/events/{id}/delete'(id=${event.id})}">
                <button type="submit">Delete</button>
            </form>
        </th:block>
        <form th:method="POST" style="display: inline-block" th:action="@{'/events/{id}/like'(id=${event.id})}">
            <button type="submit">Like</button>
        </form>


        <th:block sec:authorize="hasRole('ADMIN')">

            <a th:href="@{'/events/{id}/edit' (id=${event.id})}">
                <button type="button" th:form="form-container">Edit Event</button>
            </a>
        </th:block>

    </div>

    <br>


    <th:block sec:authorize="!hasRole('ADMIN')">

        <form th:action="@{/login}" method="post">
            <button type="submit">login</button>
        </form>
    </th:block>

    <th:block sec:authorize="hasRole('ADMIN')">

        <form th:action="@{/logout}" method="post" onsubmit="return confirm('Are you sure you want to log out?');">
            <button type="submit">Logout</button>
        </form>

    </th:block>


</main>
</body>
</html>
